## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/haolunwei/Desktop/Github/world-weather-analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Gornopravdinsk,RU,60.0500,69.9000,65.62,40,99,9.35,overcast clouds
1,1,Ushuaia,AR,-54.8000,-68.3000,33.46,75,90,10.36,overcast clouds
2,2,Gorontalo,ID,0.5412,123.0595,82.29,75,84,6.06,broken clouds
3,3,Mahebourg,MU,-20.4081,57.7000,77.25,69,75,13.80,light rain
4,4,Tandalti,SD,13.0167,31.8667,78.53,69,98,13.80,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                      (city_data_df["Max Temp"] >= min_temp)]

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             273
City                   273
Country                271
Lat                    273
Lng                    273
Max Temp               273
Humidity               273
Cloudiness             273
Wind Speed             273
Current Description    273
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

Unnamed: 0             271
City                   271
Country                271
Lat                    271
Lng                    271
Max Temp               271
Humidity               271
Cloudiness             271
Wind Speed             271
Current Description    271
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Gorontalo,ID,82.29,broken clouds,0.5412,123.0595,
3,Mahebourg,MU,77.25,light rain,-20.4081,57.7000,
4,Tandalti,SD,78.53,overcast clouds,13.0167,31.8667,
9,Kununurra,AU,87.78,broken clouds,-15.7667,128.7333,
10,Kapaa,US,80.92,light rain,22.0752,-159.3190,
24,Mahon,ES,81.16,clear sky,39.8885,4.2658,
28,Faanui,PF,78.37,scattered clouds,-16.4833,-151.7500,
31,Hoima,UG,81.23,broken clouds,1.4356,31.3436,
34,San Patricio,US,82.26,broken clouds,28.0170,-97.5169,
36,Cerritos,US,75.33,scattered clouds,33.8583,-118.0648,

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Gorontalo,ID,82.29,broken clouds,0.5412,123.0595,Maqna Hotel by Prasanthi
3,Mahebourg,MU,77.25,light rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
4,Tandalti,SD,78.53,overcast clouds,13.0167,31.8667,Ù…Ù†Ø²Ù„ : Ø§Ù„Ù‡Ø§Ø¯ÙŠ Ù…Ø­Ù…Ø¯ Ù…Ø³Ø§Ø¹Ø¯
9,Kununurra,AU,87.78,broken clouds,-15.7667,128.7333,Hotel Kununurra
10,Kapaa,US,80.92,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...,...
699,Kutum,SD,79.54,overcast clouds,14.2000,24.6667,Dibbo areaÙ…Ù†Ø·Ù‚Ø© Ø¯Ø¨Ùˆ
701,Cove,BJ,79.57,broken clouds,7.2210,2.3402,TG HÃ´tel
702,Etchoropo,MX,85.35,overcast clouds,26.7667,-109.6667,Campo de AndrÃ©s cruz jusaino
705,Iracoubo,GF,75.43,scattered clouds,5.4802,-53.2011,Le GÃ®te dâ€™Iracoubo
706,Bitung,ID,86.85,broken clouds,1.4451,125.1824,K2 Lembeh

In [21]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df.count()

City                   271
Country                271
Max Temp               271
Current Description    271
Lat                    271
Lng                    271
Hotel Name             271
dtype: int64

In [24]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [33]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [34]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))